body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-logo-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
}

.header-logo {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 24px;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.section-one {
    background-color: #2E2F42;
}

.section-one-slogan {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
}

.section-one-button {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 24px;
    text-align: center;
    background-color: #4D5AE5;
    cursor: pointer;
}

.section-one-button:hover,
.section-one-button:focus {
    background-color: #404BBF;
}

.section-two {
    background-color: #FFFFFF;
}

.fitures-subtitle {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
}

.fitures-desc {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 24px;
    text-align: center;
}

.our-team-section {
    background-color: #F4F4FD;
}

.our-team-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
}

.employee-item {
    background-color: #FFFFFF;
}

.employee-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
}

.employee-desc {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 24px;
}

.portfolio-section {
    background-color: #FFFFFF;
}

.portfolio-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
}

.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    line-height: 1.2;
}

.portfolio-desc {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    line-height: 24px;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    line-height: 1.5;
}